ItemDef(
    name: "维洛特 披风——觉醒",
    description: "来自符文的强化",
    kind: Armor((
        kind: Back("VeloriteMage"),
        stats: (
            protection: Normal(15.0),
            poise_resilience: Normal(10.0),
            energy_max: 2.5,
            energy_reward: 0.05,
            crit_power: 0.2,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [
        
    ],
)
