ItemDef(
    name: "维洛特 | 凡性",
    description: "古老的符文赋予了它融合血钢的能力",
    kind: Armor((
        kind: Chest("VeloriteMage"),
        stats: (
            protection: Normal(80.0),
            poise_resilience: Normal(15.0),
            energy_max: 10,
            energy_reward: 0.1,
            crit_power: 0.9,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [
        
    ],
)
