ItemDef(
    name: "维洛特 | 丹田",
    description: "古老的符文赋予了它融合血钢的能力",
    kind: Armor((
        kind: Pants("VeloriteMage"),
        stats: (
            protection: Normal(40.0),
            poise_resilience: Normal(10.0),
            energy_max: 10,
            energy_reward: 0.1,
            crit_power: 0.7,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [
        
    ],
)
