([
    Group(Weapon(Bow)),

    // Charged
    Skill((Bow(CDamage), Some(1))),
    Skill((Bow(CKnockback), Some(2))),
    Skill((Bow(CSpeed), Some(2))),
    Skill((Bow(CMove), Some(2))),

    // Repeater
    Skill((Bow(RDamage), Some(1))),
])
