ItemDef(
    name: "图纳",
    description: "我是真不知道写啥好啊！",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.15,
            power: 2.4,
            effect_power: 2.1,
            speed: 1.5,
            crit_chance: 0.55,
            range: 1.35,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [],
    ability_spec: Some(Custom("金单手剑技能组")),
)
