ItemDef(
    name: "斩骨",
    description: "据说，一刀捅死了一个灰狐！",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.2,
            power: 2.7,
            effect_power: 2.7,
            speed: 1.2,
            crit_chance: 0.7,
            range: 1.5,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [],
    ability_spec: Some(Custom("金单手剑技能组")),
)
