ItemDef(
    name: "虹管",
    description: "醉后不知天在水，满船清梦压星河。",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.3,
            power: 2.45,
            effect_power: 2.45,
            speed: 1.1,
            crit_chance: 0.55,
            range: 1.4,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    tags: [],
    ability_spec: Some(Custom("紫单手剑技能组")),
)
