ItemDef(
    name: "Moonweave Gloves",
    description: "The fabric dances silently, like moonlight.",
    kind: Armor((
        kind: Hand("Moonweave"),
        stats: (
            protection: Normal(6.0),
             poise_resilience: Normal(-1.0),
            energy_max: 80,
            energy_reward: 0.08,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [
        Material(Moonweave),
    ],
)