ItemDef(
    name: "影袭 | 腰带",
    description: "",
    kind: Armor((
        kind: Belt("影袭"),
        stats: (
            protection: Normal(15.0),
            poise_resilience: Normal(0.0),
            energy_max: 25.0,
            energy_reward: 0.2,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
