ItemDef(
    name: "影袭 | 鞋子",
    description: "没有人，可以逃离他们的影子。",
    kind: Armor((
        kind: Foot("影袭"),
        stats: (
            protection: Normal(12.5),
            poise_resilience: Normal(-1.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.15,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
