ItemDef(
    name: "影袭 | 臂铠",
    description: "",
    kind: Armor((
        kind: Hand("影袭"),
        stats: (
            protection: Normal(50.0),
            poise_resilience: Normal(50.0),
            energy_max: 10.0,
            energy_reward: 0.5,
            crit_power: 0.2,
            stealth: 25.0,
        ),
    )),
    quality: Epic,
    tags: [],
)