[
    (20, Velorite),
    (20, VeloriteFrag),
    (10, CaveMushroom),
    (10, Mushroom),
    (10, AmethystSmall),
    (10, TopazSmall),
    (10, SapphireSmall),
    (10, CrystalLow),
    (10, EmeraldSmall),
    (20, Coal),
    (20, Iron),
    (10, RubySmall),
]
