[
    (50, Velorite),
    (50, VeloriteFrag),
    (30, CaveMushroom),
    (20, Mushroom),
    (50, AmethystSmall),
    (50, TopazSmall),
    (50, SapphireSmall),
    (50, CrystalLow),
    (50, EmeraldSmall),
    (20, Cobalt),
    (50, Coal),
    (50, Iron),
    (20, RubySmall),
]
