[
    (10, Velorite),
    (10, VeloriteFrag),
    (10, CaveMushroom),
    (10, Mushroom),
    (10, AmethystSmall),
    (10, TopazSmall),
    (10, SapphireSmall),
    (10, CrystalLow),
    (10, EmeraldSmall),
    (10, Coal),
    (10, Iron),
    (10, RubySmall),
]
