[
    (110, Stones),
    (250, ShortGrass),
    (50, CaveMushroom),
    (50, Mushroom),
    (10, AmethystSmall),
    (10, TopazSmall),
    (20, Tin),
    (20, Copper),
    (20, Iron),
    (10, Chest),
    (15, Crate),
]
