[
    (110, Stones),
    (250, ShortGrass),
    (50, CaveMushroom),
    (50, Mushroom),
    (50, AmethystSmall),
    (50, TopazSmall),
    (50, Tin),
    (50, Copper),
    (50, Iron),
    (10, Chest),
    (15, Crate),
]
