ItemDef(
    name: "坚韧 | 披风",
    description: "坚韧不屈，经历过战争。",
    kind: Armor((
        kind: Back("Iron"),
        stats: (
            protection: Normal(5.0),
            poise_resilience: Normal(1.0),
            energy_max: -3.0,
            energy_reward: 0.0,
            crit_power: -0.05,
            stealth: -5.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Iron),
    ],
)
