ItemDef(
    name: "坚韧 | 护胸",
    description: "坚韧不屈，经历过战争。",
    kind: Armor((
        kind: Chest("Iron"),
        stats: (
            protection: Normal(30.0),
            poise_resilience: Normal(8.0),
            energy_max: -4.0,
            energy_reward: 0.0,
            crit_power: -0.1,
            stealth: -5.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Iron),
    ],
)
