ItemDef(
    name: "阿撒托斯 · 混沌",
    description: "黑魔法师Mindflayer掠夺( 暗 金 火 冰 )四元素武器通过混沌祭坛献祭熔炼打造的终极兵刃.\n特效： 元素附加！",
    kind: Tool((
        kind: Sword,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 3.5,
            effect_power: 6.0,
            speed: 1.2,
            crit_chance: 0.75,
            range: 1.5,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Artifact,
    tags: [],
    ability_spec: Some(Custom("gayabergSword")),
)