ItemDef(
    name: "放逐之刃 · 锐雯",
    description: "断剑重铸之日,骑士归来之时.\n特效（巨型武器）：攻击距离提升，以后再说！",
    kind: Tool((
        kind: Sword,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 2.5,
            effect_power: 3.0,
            speed: 1.0,
            crit_chance: 0.40,
            range: 1.35,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [],
    ability_spec: Some(Custom("riventheexile")),
)
