ItemDef(
    name: "哀谷",
    description: "那是一场灾难...",
    kind: Tool((
        kind: Hammer,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 2.9,
            effect_power: 2.9,
            speed: 1.0,
            crit_chance: 0.25,
            range: 0.8,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    tags: [SalvageInto(EpicSell),],
    ability_spec: Some(Custom("哀谷技能组")),
)
