ItemDef(
    name: "新手卷轴(若文字遮挡，请放置到快捷栏)",
    description: "欢迎游玩Veloren-WECW服务器，本服务器是国内外唯一一个大型模组化Veloren服务器。\n下面是一些简单的教程:
1. 默认的画质较差（为了防止电脑性能差的玩家卡顿），你可以在设置->图像中进行设置。
2. 游戏难度较为硬核，并且游戏也是往组队方向设计的，所以十分建议拉上你的小伙伴一起游玩。
3. 目前所有的Boss都可以被高操作玩家单刷，这意味着如果你是大佬，你也可以做到。
4. 下面是一些你可能会用到的指令:
/tpsite <城镇名> 消耗一个魔法传送信标传送到任意城镇。
/home 返回主城，并将重生点设置在主城。
/kill 自杀，并复活在重生点。
/roll 生成随机数，可以用于玩家公平分物资（必须先组队）。
/showloot <地牢名> 可以查看任意地牢的战利品掉率。
/tell <玩家名> [消息] 对一名玩家进行私聊。
/w [消息] 设置为世界聊天。
/g [消息] 设置为组队聊天。
5. 下面是一些你可能会使用到的快捷键:
所有快捷键都可以在 设置->控制中进行修改。
V——翻滚。
T——对一名生物发起交易请求，通常是玩家或城镇中的商人。
Q——一技能。
M——打开地图。
X——打开技能树。
R——收/拿 武器。
C——打开合成表和背包。
B——打开背包。
J——跳舞。
K——坐下。
Tab——切换武器。
Ctrl——切换滑翔伞。
Shift——切换潜行模式。
6. 请时刻关注本服QQ群，目前是唯一交流渠道，你可以在那里获取到帮助，新客户端，更新日志。
7. 本服所有内容均为开源，如果你对这款游戏有兴趣，想要参与开发制作，可以联系群内的Evan。
8. 服务器不允许随意赠送影响他人阶段的武器，不允许利用任何卡怪等Bug，不允许使用任何作弊手段。
9. Veloren目前是在活跃开发中，并且已持续2年，希望玩家们有耐心共造美好明天，如果有任何的Bug，建议，可以练习群内Evan。
10. 如果你对游戏流程不了解，可以在QQ群内提问，群里的老哥和小姐姐们很愿意帮忙。
11. 最后，这是一个团队游戏，独狼会难以生存。",
    kind: Ingredient(
        kind: "新手卷轴",
    ),
    quality: Epic,
    tags: [],
)
