ItemDef(
    name: "流火弓",
    description: "据说用一支箭杀死了一个Evan.",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 2.9,
            effect_power: 3.0,
            speed: 1.0,
            crit_chance: 0.25,
            range: 1.05,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    tags: [],
    ability_spec: Some(Custom("流火弓技能组")),
)
