ItemDef(
    name: "火符文",
    description: "六千年前雪兽杀死了他的死对头炎魔获得的符文，但由于其被火符文反噬，所以被它的手下拿走了\n其蕴含万物之能量，可铸造神之物。",
    kind: Ingredient(
        kind: "火Rune",
    ),
    quality: Legendary,
    tags: [SalvageInto(Dragonscale),],
)
