ItemDef(
    name: "黑钢重刃",
    description: "冷兵器时代萨顿军团之将军的武器之一。",
    kind: Tool((
        kind: Sword,
        hands: Two,
        stats: Direct((
            equip_time_secs: 1.0,
            power: 2.85,
            effect_power: 3.0,
            speed: 0.7,
            crit_chance: 0.25,
            range: 1.2,
            energy_efficiency: 1.5,
            buff_strength: 1.2,
        )),
    )),
    quality: Epic,
    tags: [SalvageInto(EpicSell),],
    ability_spec: Some(Custom("黑钢重刃技能组")),
)
