[
    // weapons
    (0.008, Item("common.items.WECW.金符文")),
    (0.01, Item("common.items.WECW.暗金巨像刃")),
    // materials
    (0.5, ItemQuantity("common.items.consumable.potion_med", 5, 10)),
    (0.5, Item("common.items.armor.misc.back.dungeon_purple")),
    (0.5, Item("common.items.armor.misc.ring.skull")),
    (0.5, ItemQuantity("common.items.boss_drops.精品生命之息",1,3)),
    (0.5, ItemQuantity("common.items.boss_drops.精品能量药水",1,3)),
    (1.0, ItemQuantity("common.items.utility.coins", 4000, 10000)),
    (1.0, LootTable("common.loot_tables.weapons.tier-5")),
]
