[
    // weapons
    (0.5, LootTable("common.loot_tables.weapons.tier-4")),
    // materials
    (3.0, ItemQuantity("common.items.utility.coins", 2000, 10000)),
    (0.5, ItemQuantity("common.items.consumable.potion_med", 5, 10)),
]
