/// WARNING: Localization files shall be saved in UTF-8 format without BOM

/// 本地化 "Simplified Chinese" 简体中文
(
    string_map: {
        "hud.do_not_show_on_startup": "启动时不显示这个",
        "hud.show_tips": "显示提示",
        "hud.quests": "任务",
        "hud.you_died": "你死了",
        "hud.waypoint_saved": "重生点已保存",
        "hud.sp_arrow_txt": "技能点",
        "hud.inventory_full": "背包已满",

        "hud.press_key_to_show_keybindings_fmt": "按下 {key} 显示快捷键设置",
        "hud.press_key_to_toggle_lantern_fmt": "[{key}] 显示提灯",
        "hud.press_key_to_show_debug_info_fmt": "按下 {key} 显示调试信息",
        "hud.press_key_to_toggle_keybindings_fmt": "按下 {key} 切换显示快捷键设置",
        "hud.press_key_to_toggle_debug_info_fmt": "按下 {key} 切换显示调试信息",

        // Respawn message
        "hud.press_key_to_respawn": r#"按下 {key} 在你上次访问的篝火处重生."#,

        // Tutorial Button
        "hud.tutorial_btn": r#"常用指令"#,
        "hud.tutorial_click_here": r#"按下 [ {key} ] 释放鼠标光标并单击此按钮!"#,
        "hud.tutorial_elements": r#"制作"#,

        "hud.temp_quest_headline": r#"旅行者你好!"#,
        "hud.temp_quest_text": r#"
祝你你在旅途中随心所欲!

制作菜单按C 地图按M

/kill 重生  /home 回主城
/help 帮助  /roll 随机数
/r 切换至附近频道
/w 切换至世界频道
/g 切换至组队频道
/tpsite [城镇名] 传送
/showloot [副本级别] 战利品查看
查看屏幕的右下角,找到各种内容.

只要你准备就绪,就可以尝试挑战地图上的
标记点,来获得更好的装备!
"#,

        "hud.spell": "法术",
        // Diary
        "hud.diary": "技能书",

        "hud.free_look_indicator": "启用自由视角. 按下 {key} 禁用.",
        "hud.camera_clamp_indicator": "启用锁定视角. 按下 {key} 禁用.",
        "hud.auto_walk_indicator": "启用自动 行走/滑翔",
    },


    vector_map: {
    }
)
