EntityConfig (
    name: Automatic,
    body: Exact(QuadrupedMedium(Body(species: Roshwalr, body_type: Female))),
    alignment: Alignment(Enemy),

    loot: Nothing,

    hands: Uninit,

    meta: [],
)
