ItemDef(
    name: "灵魂风暴 | 核心",
    description: "它曾属于死亡领主Lycor.",
    kind: Armor((
        kind: Chest("soul"),
        stats: (
            protection: Normal(110.0),
            poise_resilience: Normal(30.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.45,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [],
)
