ItemDef(
    name: "灵魂风暴·阴影",
    description: "它曾属于死亡领主Lycor.",
    kind: Armor((
        kind: Belt("soul"),
        stats: (
            protection: Normal(40.0),
            poise_resilience: Normal(25.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.08,
            stealth: 0.00,
        ),
    )),
    quality: Artifact,
    tags: [],
)
