ItemDef(
    name: "亚麻布 | 风衣",
    description: "粗糙的缝线技术, 但还挺坚挺的。",
    kind: Armor((
        kind: Chest("Linen"),
        stats: (
            protection: Normal(5.0),
            poise_resilience: Normal(-5.0),
            energy_max: 5.0,
            energy_reward: 0.1,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Low,
    tags: [
        Material(Linen),
    ],
)
