ItemDef(
    name: "亚麻布 | 手套",
    description: "粗糙的缝线技术, 但还挺坚挺的。",
    kind: Armor((
        kind: Hand("Linen"),
        stats: (
            protection: Normal(2.0),
            poise_resilience: Normal(-4.0),
            energy_max: 1.7,
            energy_reward: 0.025,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Low,
    tags: [
        Material(Linen),
    ],
)
