ItemDef(
    name: "方棱锤",
    description: "",
    kind: Tool((
        kind: Hammer,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 3.0,
            effect_power: 2.5,
            speed: 0.7,
            crit_chance: 0.40,
            range: 1.5,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    tags: [],
    ability_spec: Some(Custom("紫单手锤技能组")),
)
