ItemDef(
    name: "链摆锤",
    description: "铁锁束缚着我的力量也束缚我的心",
    kind: Tool((
        kind: Hammer,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.20,
            power: 2.5,
            effect_power: 2.0,
            speed: 1.4,
            crit_chance: 0.30,
            range: 1.4,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    tags: [],
    ability_spec: Some(Custom("紫单手锤技能组")),
)
