ItemDef(
    name: "锰钢 披风",
    description: "这种金属具有装饰性和渗透性，永远不会变钝.",
    kind: Armor((
        kind: Back("Cobalt"),
        stats: (
            protection: Normal(8.0),
            poise_resilience: Normal(2.0),
            energy_max: -30,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: -2.0,
        ),
    )),
    quality: High,
    tags: [
        Material(Cobalt),
    ],
)
