ItemDef(
    name: "锰钢 胸凯",
    description: "这种金属具有装饰性和渗透性，永远不会变钝.",
    kind: Armor((
        kind: Chest("Cobalt"),
        stats: (
            protection: Normal(48.0),
            poise_resilience: Normal(12.0),
            energy_max: -40,
            energy_reward: -0.25,
            crit_power: 0.0,
            stealth: -2.0,
        ),
    )),
    quality: High,
    tags: [
        Material(Cobalt),
    ],
)
