ItemDef(
    name: "收割斧",
    description: "以血养之方正其钢",
    kind: Tool((
        kind: Axe,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.35,
            power: 2.55,
            effect_power: 1.8,
            speed: 0.9,
            crit_chance: 0.38,
            range: 1.1,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
       )),
    )),
    quality: High,
    ability_spec: Some(Custom("蓝单手斧技能组")),
    tags: [],
)
