ItemDef(
    name: "精锻斧",
    description: "照亮整个星系。\n额外技能\n灵活——大幅减少前摇\n冰冻——攻击附带冰冻效果\n巨力——可以将敌人打击至头晕眼花",
    kind: Tool((
        kind: Axe,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.5,
            power: 4.5,
            effect_power: 4.0,
            speed: 1.2,
            crit_chance: 0.75,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    ability_spec: Some(Custom("超新星技能组")),
    tags: [],
)
