// 修改范围，击退，第一二三四击： 20%概率减速|100%吸血|40%概率短弱致残|50%流血
ComboMelee(
    stage_data: [
        (
            stage: 1,
            base_damage: 65,
            damage_increase: 20,
            base_poise_damage: 10,
            poise_damage_increase: 0,
            knockback: 2.0,
            range: 2.0,
            angle: 30.0,
            base_buildup_duration: 0.15,
            base_swing_duration: 0.15,
            hit_timing: 0.15,
            base_recover_duration: 0.1,
            forward_movement: 0.5,
            damage_kind: Slashing,
            damage_effect: Some(Buff((
              kind: Frozen,
              dur_secs: 5.0,
              strength: Value(1.0),
              chance: 0.2,
            ))),
        ),
        (
            stage: 2,
            base_damage: 75,
            damage_increase: 25,
            base_poise_damage: 13,
            poise_damage_increase: 0,
            knockback: 3.0,
            range: 2.0,
            angle: 30.0,
            base_buildup_duration: 0.15,
            base_swing_duration: 0.3,
            hit_timing: 0.15,
            base_recover_duration: 0.1,
            forward_movement: 0.0,
            damage_kind: Crushing,
            damage_effect: Some(Lifesteal(1.0)),
        ),
        (
            stage: 3,
            base_damage: 85,
            damage_increase: 20,
            base_poise_damage: 25,
            poise_damage_increase: 0,
            knockback: 5.0,
            range: 2.0,
            angle: 30.0,
            base_buildup_duration: 0.15,
            base_swing_duration: 0.15,
            hit_timing: 0.15,
            base_recover_duration: 0.1,
            forward_movement: 0.5,
            damage_kind: Piercing,
            damage_effect: Some(Buff((
                kind: Crippled,
                dur_secs: 5.0,
                strength: DamageFraction(0.1),
                chance: 0.4,
            ))),
        ),
        (
            stage: 4,
            base_damage: 100,
            damage_increase: 20,
            base_poise_damage: 300,
            poise_damage_increase: 0,
            knockback: 10.0,
            range: 5.0,
            angle: 360.0,
            base_buildup_duration: 0.15,
            base_swing_duration: 0.15,
            hit_timing: 0.15,
            base_recover_duration: 0.5,
            forward_movement: 0.5,
            damage_kind: Piercing,
            damage_effect: Some(Buff((
                kind: Bleeding,
                dur_secs: 10.0,
                strength: DamageFraction(0.4),
                chance: 0.5,
            ))),
        ),
    ],
    initial_energy_gain: 3,
    max_energy_gain: 150,
    energy_increase: 20,
    speed_increase: 0.1,
    max_speed_increase: 0.4,
    scales_from_combo: 0,
    is_interruptible: true,
    ori_modifier: 1.0,
)
