ItemDef(
    name: "戴红缨",
    description: "枪出入龙!\nT3-T4地牢掉落",
    kind: Armor((
        kind: Head("戴红缨"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
