ItemDef(
    name: "蝙蝠面具",
    description: "哥谭守护者。\nT3-T4地牢掉落",
    kind: Armor((
        kind: Head("蝙蝠面具"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
