BasicMelee(
    energy_cost: 50.0,
    buildup_duration: 0.35,
    swing_duration: 0.2,
    recover_duration: 0.5,
    base_damage: 35.0,
    base_poise_damage: 60.0,
    knockback: ( strength: 15.0, direction: Away),
    range: 6.0,
    max_angle: 30.0,
    damage_effect: Some(Buff((
        kind: Bleeding,
        dur_secs: 10.0,
        strength: DamageFraction(0.1),
        chance: 0.1,
    ))),
    damage_kind: Slashing,
)
