LeapMelee(
    energy_cost: 450,
    buildup_duration: 0.2,
    movement_duration: 0.2,
    swing_duration: 0.2,
    recover_duration: 0.2,
    base_damage: 125,
    base_poise_damage: 1000,
    knockback: 10.0,
    range: 6.0,
    max_angle: 60.0,
    forward_leap_strength: 20.0,
    vertical_leap_strength: 8.0,
    damage_kind: Slashing,
    damage_effect: None,
)
