SpinMelee(
    buildup_duration: 0.25,
    swing_duration: 0.45,
    recover_duration: 1.0,
    base_damage: 17.25,
    base_poise_damage: 22.5,
    knockback: ( strength: 5.5, direction: Away),
    range: 6.0,
    damage_effect: None,
    energy_cost: 12.5,
    is_infinite: true,
    movement_behavior: AxeHover,
    is_interruptible: false,
    forward_speed: 0.0,
    num_spins: 1,
    specifier: None,
    target: Some(OutOfGroup),
    damage_kind: Slashing,
)
