SpinMelee(
    buildup_duration: 0.35,
    swing_duration: 0.55,
    recover_duration: 1.0,
    base_damage: 10.0,
    base_poise_damage: 15.0,
    knockback: ( strength: 4.0, direction: Away),
    range: 4.0,
    damage_effect: None,
    energy_cost: 18.0,
    is_infinite: true,
    movement_behavior: AxeHover,
    is_interruptible: false,
    forward_speed: 0.0,
    num_spins: 1,
    specifier: None,
    target: Some(OutOfGroup),
    damage_kind: Slashing,
)
