ComboMelee(
    stage_data: [
        (
            stage: 1,
            base_damage: 12.5,
            base_poise_damage: 17.25,
            damage_increase: 0,
            poise_damage_increase: 0,
            knockback: 3.0,
            range: 3.5,
            angle: 35.0,
            base_buildup_duration: 0.25,
            base_swing_duration: 0.25,
            hit_timing: 0.6,
            base_recover_duration: 0.25,
            forward_movement: 0.5,
            damage_kind: Slashing,
            damage_effect: Some(Buff((
                kind: Bleeding,
                dur_secs: 3.0,
                strength: DamageFraction(0.125),
                chance: 0.25,
            ))),
        ),
        (
            stage: 2,
            base_damage: 17.25,
            base_poise_damage: 22.5,
            damage_increase: 0,
            poise_damage_increase: 0,
            knockback: 6.0,
            range: 4.0,
            angle: 22.5,
            base_buildup_duration: 0.225,
            base_swing_duration: 0.225,
            hit_timing: 0.6,
            base_recover_duration: 0.225,
            forward_movement: 0.25,
            damage_kind: Slashing,
            damage_effect: Some(Buff((
                kind: Bleeding,
                dur_secs: 7.0,
                strength: DamageFraction(0.15),
                chance: 0.25,
            ))),
        ),
    ],
    initial_energy_gain: 2.0,
    max_energy_gain: 8.0,
    energy_increase: 0.8,
    speed_increase: 0.1,
    max_speed_increase: 0.125,
    scales_from_combo: 2,
    is_interruptible: false,
    ori_modifier: 1.0,
)
