SpinMelee(
    buildup_duration: 0.2,
    swing_duration: 0.4,
    recover_duration: 0.7,
    base_damage: 5,
    base_poise_damage: 7.5,
    knockback: ( strength: 5.0, direction: Away),
    range: 5.0,
    energy_cost: 10.0,
    is_infinite: true,
    movement_behavior: AxeHover,
    is_interruptible: false,
    forward_speed: 0.0,
    num_spins: 1,
    specifier: None,
    damage_kind: Crushing,
    damage_effect: Some(Buff((
       kind: Frozen,
       dur_secs: 0.5,
       strength: Value(10.0),
       chance: 0.5,
    ))),
    target: Some(OutOfGroup),
)
