EntityConfig (
    name: Some("疯狂的绵羊"),
    body: Some(RandomWith("sheep")),

    loot: Some(LootTable("common.loot_tables.fallback")),

    main_tool: None,
    second_tool: None,

    loadout_asset: None,
    skillset_asset: None,
)
