ItemDef(
    name: "血钢 腰带",
    description: "为了保全生命，不惜牺牲他人.",
    kind: Armor((
        kind: Belt("Bloodsteel"),
        stats: (
            protection: Normal(10.0),
            poise_resilience: Normal(2.5),
            energy_max: -30,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: -1.0,
        ),
    )),
    quality: Epic,
    tags: [
        Material(Bloodsteel),
    ],
)