ItemDef(
    name: "血钢 胸铠",
    description: "为了保全生命，不惜牺牲他人.",
    kind: Armor((
        kind: Chest("Bloodsteel"),
        stats: (
            protection: Normal(60.0),
            poise_resilience: Normal(15.0),
            energy_max: -40,
            energy_reward: -0.2,
            crit_power: 0.0,
            stealth: -1.0,
        ),
    )),
    quality: Epic,
    tags: [
        Material(Bloodsteel),
    ],
)