ItemDef(
    name: "炎阳 裹足",
    description: "它散发着太阳的能量，以及驾驭它的优雅.",
    kind: Armor((
        kind: Foot("Sunsilk"),
        stats: (
            protection: Normal(10.0),
            poise_resilience: Normal(-1.0),
            energy_max: 12.0,
            energy_reward: 0.3,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [
        Material(Sunsilk),
    ],
)
