({
    Armor(Head): Item("common.items.WECW.符文塔.头饰.金"),
    Armor(Chest): Item("common.items.armor.cloth.sunsilk.chest"),
    Armor(Shoulders): Item("common.items.armor.cloth.sunsilk.shoulder"),
    Armor(Belt): Item("common.items.armor.cloth.sunsilk.belt"),
    Armor(Hands): Item("common.items.armor.cloth.sunsilk.hand"),
    Armor(Legs): Item("common.items.armor.cloth.sunsilk.pants"),
    Armor(Feet): Item("common.items.armor.cloth.sunsilk.foot"),
    Armor(Back): Item("common.items.armor.cloth.sunsilk.back"),

    Lantern: Item("common.items.lantern.geode_purp"),
})
