ItemDef(
    name: "青铜 | 披风",
    description: "十分沉重，但抗击打性不错。",
    kind: Armor((
        kind: Back("Bronze"),
        stats: (
            protection: Normal(3.0),
            poise_resilience: Normal(0.5),
            energy_max: -2.0,
            energy_reward: 0.0,
            crit_power: -0.05,
            stealth: -5.0,
        ),
    )),
    quality: Low,
    tags: [
        Material(Bronze),
    ],
)
