ItemDef(
    name: "兽皮 | 护足",
    description: "疾如风.",
    kind: Armor((
        kind: Foot("Leather"),
        stats: (
            protection: Normal(4.0),
            poise_resilience: Normal(-3.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.035,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Leather),
    ],
)
