ItemDef(
    name: "兽皮 | 护腿",
    description: "疾如风.",
    kind: Armor((
        kind: Pants("Leather"),
        stats: (
            protection: Normal(6.0),
            poise_resilience: Normal(-4.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.1,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Leather),
    ],
)
