BasicRanged(
    energy_cost: 300,
    buildup_duration: 1.25,
    recover_duration: 0.4,
    projectile: Fireball(
        damage: 450.0,
        radius: 6.0,
        energy_regen: 0,
    ),
    projectile_body: Object(BoltFireBig),
    projectile_speed: 90.0,
    num_projectiles: 1,
    projectile_spread: 0.0,
)
