BasicRanged(
    energy_cost: 20.0,
    buildup_duration: 0.3,
    recover_duration: 0.3,
    projectile: Fireball(
        min_falloff: 0.5,
        damage: 10.5,
        radius: 5.0,
        energy_regen: 15.0,
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 60.0,
    num_projectiles: 1,
    projectile_spread: 0.0,
)
