// 攻击速度快，伤害低，范围大
BasicRanged(
    energy_cost: 30.0,
    buildup_duration: 0.25,
    recover_duration: 0.25,
    projectile: Fireball(
        min_falloff: 0.5,
        damage: 10.0,
        radius: 7.0,
        energy_regen: 8.0,
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 60.0,
    num_projectiles: 2,
    projectile_spread: 0.0,
)
