// 伤害高，攻击速慢，攻击范围小
BasicRanged(
    energy_cost: 40.0,
    buildup_duration: 0.425,
    recover_duration: 0.125,
    projectile: Fireball(
        min_falloff: 0.5,
        damage: 85.0,
        radius: 2.0,
        energy_regen: 25.0,
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 100.0,
    num_projectiles: 1,
    projectile_spread: 0.0,
)
