ItemDef(
    name: "神官 | 披风",
    description: "Wingardium Leviosa!",
    kind: Armor((
        kind: Back("神官"),
        stats: (
            protection: Normal(4.5),
            poise_resilience: Normal(-2.0),
            energy_max: 5.0,
            energy_reward: 0.125,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
