ItemDef(
    name: "神官 | 胸甲",
    description: "Wingardium Leviosa!",
    kind: Armor((
        kind: Chest("神官"),
        stats: (
            protection: Normal(25.0),
            poise_resilience: Normal(-2.0),
            energy_max: 30.0,
            energy_reward: 0.6,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
