ItemDef(
    name: "神官 | 裤子",
    description: "",
    kind: Armor((
        kind: Pants("神官"),
        stats: (
            protection: Normal(23.0),
            poise_resilience: Normal(0.0),
            energy_max: 40.0,
            energy_reward: 0.6,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [],
)
