ItemDef(
    name: "符文守护",
    description: "",
    kind: Armor((
        kind: Head("Crown"),
        stats: (
            protection: Normal(100000.0),
            poise_resilience: Normal(200.0),
            energy_max: 300.0,
            energy_reward: 2.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
