BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.4,
    swing_duration: 0.2,
    recover_duration: 0.4,
    base_damage: 140,
    base_poise_damage: 0.02,
    knockback: ( strength: 10.0, direction: Away),
    range: 6.0,
    max_angle: 90.0,
    damage_effect: None,
    damage_kind: Crushing,
)
