Shockwave(
    energy_cost: 0.0,
    buildup_duration: 0.2,
    swing_duration: 0.1,
    recover_duration: 0.3,
    damage: 100,
    poise_damage: 100,
    knockback: ( strength: 35.0, direction: Away),
    shockwave_angle: 360.0,
    shockwave_vertical_angle: 90.0,
    shockwave_speed: 15.0,
    shockwave_duration: 1.3,
    requires_ground: false,
    move_efficiency: 0.5,
    damage_kind: Energy,
    specifier: Fire,
)
