ItemDef(
    name: "烈焰龙鳞",
    description: "红龙的鳞甲.",
    kind: Armor((
        kind: Chest("Mindflayer"),
        stats: (
            protection: Normal(1000.0),
            poise_resilience: Normal(500.0),
            energy_max: 2000,
            energy_reward: 30.0,
            crit_power: 0.2,
            stealth: 10.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)