ItemDef(
    name: "Mindflayer Armor",
    description: "Worn by mindflayer.",
    kind: Armor((
        kind: Chest("Mindflayer"),
        stats: (
            protection: Normal(1000.0),
            poise_resilience: Normal(500.0),
            energy_max: 2000,
            energy_reward: 30.0,
            crit_power: 0.2,
            stealth: 20.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)