ItemDef(
    name: "空之壁垒",
    description: "天空龙的鳞甲.",
    kind: Armor((
        kind: Chest("Clay Golem"),
        stats: (
            protection: Normal(1250.0),
            poise_resilience: Normal(10000.0),
            energy_max: 3000,
            energy_reward: 50.0,
            crit_power: 1.0,
            stealth: 10.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)