(
    suits: [
        // 绿板甲
        Suit(
            // Additional energy cost for successfully blocking long-range attacks.
            // 成功格挡远程攻击的额外耗蓝
            energy_cost: 8.0,
            // Rebound damage.
            // 反弹的基础伤害
            base_damage: 5.0,
            // Armor protection damage bonus.
            // 护甲伤害加成
            armor_damage_bonus: 0.6,
            // Probability of successfully blocking the rebound damage.
            // 成功盾反的机率
            chance: 0.30,
            // Players must wear the following equipment to have the effects of rebound damage and block long-range damage.
            // 玩家必须穿戴以下指定装备才能有盾反和格挡远程
            required_suit: [
                Item("common.items.armor.mail.steel.foot"),
                Item("common.items.armor.mail.steel.hand"),
                Item("common.items.armor.mail.steel.chest"),
            ],
        ),
        // 绿皮甲
        Suit(
            energy_cost: 12.0,
            base_damage: 3.0,
            armor_damage_bonus: 0.4,
            chance: 0.20,
            required_suit: [
                Item("common.items.armor.hide.scale.foot"),
                Item("common.items.armor.hide.scale.hand"),
                Item("common.items.armor.hide.scale.chest"),
            ],
        ),
        // 绿布甲
        Suit(
            energy_cost: 16.0,
            base_damage: 2.0,
            armor_damage_bonus: 0.3,
            chance: 0.20,
            required_suit: [
                Item("common.items.armor.cloth.silken.foot"),
                Item("common.items.armor.cloth.silken.hand"),
                Item("common.items.armor.cloth.silken.chest"),
            ],
        ),
        // 蓝板甲
        Suit(
            energy_cost: 8.0,
            base_damage: 7.5,
            armor_damage_bonus: 0.7,
            chance: 0.35,
            required_suit: [
                Item("common.items.armor.mail.cobalt.foot"),
                Item("common.items.armor.mail.cobalt.hand"),
                Item("common.items.armor.mail.cobalt.chest"),
            ],
        ),
        // 蓝皮甲
        Suit(
            energy_cost: 14.0,
            base_damage: 4.0,
            armor_damage_bonus: 0.5,
            chance: 0.25,
            required_suit: [
                Item("common.items.armor.hide.carapace.foot"),
                Item("common.items.armor.hide.carapace.hand"),
                Item("common.items.armor.hide.carapace.chest"),
            ],
        ),
        // 蓝布甲
        Suit(
            energy_cost: 18.0,
            base_damage: 3.0,
            armor_damage_bonus: 0.4,
            chance: 0.25,
            required_suit: [
                Item("common.items.armor.cloth.druid.foot"),
                Item("common.items.armor.cloth.druid.hand"),
                Item("common.items.armor.cloth.druid.chest"),
            ],
        ),
        // 紫板甲
        Suit(
            energy_cost: 8.0,
            base_damage: 9.0,
            armor_damage_bonus: 0.8,
            chance: 0.40,
            required_suit: [
                Item("common.items.armor.mail.bloodsteel.foot"),
                Item("common.items.armor.mail.bloodsteel.hand"),
                Item("common.items.armor.mail.bloodsteel.chest"),
            ],
        ),
        // 紫皮甲
        Suit(
            energy_cost: 16.0,
            base_damage: 5.0,
            armor_damage_bonus: 0.6,
            chance: 0.30,
            required_suit: [
                Item("common.items.armor.hide.primal.foot"),
                Item("common.items.armor.hide.primal.hand"),
                Item("common.items.armor.hide.primal.chest"),
            ],
        ),
        // 紫布甲
        Suit(
            energy_cost: 20.0,
            base_damage: 4.0,
            armor_damage_bonus: 0.5,
            chance: 0.30,
            required_suit: [
                Item("common.items.armor.cloth.moonweave.foot"),
                Item("common.items.armor.cloth.moonweave.hand"),
                Item("common.items.armor.cloth.moonweave.chest"),
            ],
        ),
        // 紫板甲2
        Suit(
            energy_cost: 8.0,
            base_damage: 11.5,
            armor_damage_bonus: 0.9,
            chance: 0.45,
            required_suit: [
                Item("common.items.WECW.套装.地狱边缘.foot"),
                Item("common.items.WECW.套装.地狱边缘.hand"),
                Item("common.items.WECW.套装.地狱边缘.chest"),
            ],
        ),
        // 紫布甲2
        Suit(
            energy_cost: 22.0,
            base_damage: 5.5,
            armor_damage_bonus: 0.7,
            chance: 0.35,
            required_suit: [
                Item("common.items.WECW.套装.大神官.foot"),
                Item("common.items.WECW.套装.大神官.hand"),
                Item("common.items.WECW.套装.大神官.chest"),
            ],
        ),
        // 紫皮甲2
        Suit(
            energy_cost: 17.0,
            base_damage: 6.0,
            armor_damage_bonus: 0.7,
            chance: 0.35,
            required_suit: [
                Item("common.items.WECW.套装.影袭.foot"),
                Item("common.items.WECW.套装.影袭.hand"),
                Item("common.items.WECW.套装.影袭.chest"),
            ],
        ),
        // 金板甲
        Suit(
            energy_cost: 8.0,
            base_damage: 13.0,
            armor_damage_bonus: 1.0,
            chance: 0.50,
            required_suit: [
                Item("common.items.armor.mail.orichalcum.foot"),
                Item("common.items.armor.mail.orichalcum.hand"),
                Item("common.items.armor.mail.orichalcum.chest"),
            ],
        ),
        // 金皮甲
        Suit(
            energy_cost: 18.5,
            base_damage: 7.0,
            armor_damage_bonus: 0.8,
            chance: 0.40,
            required_suit: [
                Item("common.items.armor.hide.dragonscale.foot"),
                Item("common.items.armor.hide.dragonscale.hand"),
                Item("common.items.armor.hide.dragonscale.chest"),
            ],
        ),
        // 金布甲
        Suit(
            energy_cost: 24.5,
            base_damage: 6.0,
            armor_damage_bonus: 0.8,
            chance: 0.40,
            required_suit: [
                Item("common.items.armor.cloth.sunsilk.foot"),
                Item("common.items.armor.cloth.sunsilk.hand"),
                Item("common.items.armor.cloth.sunsilk.chest"),
            ],
        ),
        // 红板甲
        Suit(
            energy_cost: 8.0,
            base_damage: 15.5,
            armor_damage_bonus: 1.2,
            chance: 0.60,
            required_suit: [
                Item("common.items.WECW.套装.灵魂风暴.skullfoot"),
                Item("common.items.WECW.套装.灵魂风暴.skullhand"),
                Item("common.items.WECW.套装.灵魂风暴.skullchest"),
            ],
        ),
    ]
)
