[
    // 源符文
    (0.003, Item("common.items.WECW.源符文")),
    // 头饰
    (0.01, LootTable("common.loot_tables.head-T3-4")),
    // 风暴大剑
    (0.01, Item("common.items.WECW.风暴大剑")),
    // 翠晶锤
    (0.05, Item("common.items.WECW.单手武器.锤子.翠晶锤")),
    // 守护项链
    (0.05, Item("common.items.WECW.neck.highneck")),
    // 祝福项链
    (0.05, Item("common.items.WECW.neck.highneck2")),
    // velorite系列武器
    (0.1, LootTable("common.loot_tables.weapons.cave")),
    // 骨裂
    (0.1, Item("common.items.glider.glider_purp")),
    // 发光的破布
    (0.1, Item("common.items.crafting_ing.mindflayer_bag_damaged")),
    // 无敌药水
    (0.3, ItemQuantity("common.items.boss_drops.无敌药水",1,3)),
    // 青柠提灯
    (0.35, Item("common.items.lantern.green_0")),
    // 蓝色系列武器
    (0.4, LootTable("common.loot_tables.weapons.tier-5")),
    // 生命之息
    (0.5, ItemQuantity("common.items.boss_drops.生命之息", 3, 6)),
    // 能量之息
    (0.5, ItemQuantity("common.items.boss_drops.能量药水", 3, 6)),
    // 大药水
    (0.6, ItemQuantity("common.items.consumable.potion_big", 15, 45)),
    // 白金币
    (1.0, ItemQuantity("common.items.WECW.白金币", 10, 30)),
]
