ItemDef(
    name: "绒毛 | 腰带",
    description: "厚厚的，不惧风雪。",
    kind: Armor((
        kind: Belt("绒毛"),
        stats: (
            protection: Normal(2.0),
            poise_resilience: Normal(-4.0),
            energy_max: 1.7,
            energy_reward: 0.02,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Wool),
    ],
)
