ItemDef(
    name: "绒毛 | 手套",
    description: "厚厚的，不惧风雪。",
    kind: Armor((
        kind: Hand("绒毛"),
        stats: (
            protection: Normal(3.0),
            poise_resilience: Normal(-4.0),
            energy_max: 3.0,
            energy_reward: 0.06,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Wool),
    ],
)
