ItemDef(
    name: "绒毛 | 披肩",
    description: "厚厚的，不惧风雪。",
    kind: Armor((
        kind: Shoulder("绒毛"),
        stats: (
            protection: Normal(6.0),
            poise_resilience: Normal(-4.0),
            energy_max: 6.0,
            energy_reward: 0.12,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [
        Material(Wool),
    ],
)
