ItemDef(
    name: "裁决盾",
    description: "粉碎一切阻碍！\n特效（无畏冲锋）：抱着必死的信念，快速向前猛冲！",
    kind: Tool((
        kind: Shield,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 2.0,
            effect_power: 7.0,
            speed: 0.7,
            crit_chance: 0.65,
            range: 1.1,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Legendary,
    tags: [SalvageInto(LegendarySell),],
    ability_spec: Some(Custom("裁决盾技能组")),
)
