ItemDef(
    name: "魔法盾牌",
    description: "巫师使用特殊矿石锻造而成，并且注入了无与伦比的魔力！\n特效（大地震颤）：引爆盾牌中的魔力向四周扩散击退敌人！",
    kind: Tool((
        kind: Shield,
        hands: One,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 1.0,
            effect_power: 5.0,
            speed: 0.5,
            crit_chance: 0.5,
            range: 1.1,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Epic,
    tags: [SalvageInto(EpicSell),],
    ability_spec: Some(Custom("魔法盾牌技能组")),
)
