// 大剑冰冻吐息，暂时无法改变动作尝试中   Sword_Frozen
BasicBeam(
    buildup_duration: 0.30,
    recover_duration: 0.40,
    beam_duration: 1.0,
    damage: 130,
    tick_rate: 1.0,
    range: 25.0,
    max_angle: 45.0,
    damage_effect: Some(Buff((
        kind: Frozen,
        dur_secs: 5.0,
        strength: Value(1.0),
        chance: 0.2,
    ))),
    energy_regen: 0,
    energy_drain: 0,
    orientation_behavior: Normal,
    ori_rate: 0.6,
    specifier: Frost,
)