SpinMelee(
    buildup_duration: 0.2,
    swing_duration: 0.2,
    recover_duration: 0.1,
    base_damage: 20,
    base_poise_damage: 30,
    knockback: ( strength: 10.0, direction: Away),
    range: 6.0,
    damage_kind: Energy,
    damage_effect: Some(Lifesteal(0.3)),
    energy_cost: 15.0,
    is_infinite: false,
    movement_behavior: ForwardGround,
    is_interruptible: true,
    forward_speed: 1.0,
    num_spins: 3,
    specifier: None,
    target: Some(OutOfGroup),
)
