DashMelee(
    energy_cost: 10.0,
    base_damage: 5,
    scaled_damage: 7.5,
    ori_modifier: 1.0,
    base_poise_damage: 4,
    scaled_poise_damage: 0,
    base_knockback: 12.0,
    scaled_knockback: 18.0,
    range: 5.0,
    angle: 60.0,
    energy_drain: 30.0,
    forward_speed: 5.0,
    buildup_duration: 0.3,
    charge_duration: 2.5,
    swing_duration: 0.1,
    recover_duration: 0.3,
    charge_through: true,
    is_interruptible: true,
    damage_kind: Piercing,
    damage_effect: None,
)
