SpinMelee(
    buildup_duration: 0.1,
    swing_duration: 0.3,
    recover_duration: 0.3,
    base_damage: 15,
    base_poise_damage: 25,
    knockback: ( strength: 10.0, direction: Away),
    range: 4.0,
    damage_effect: None,
    energy_cost: 15.0,
    is_infinite: false,
    movement_behavior: ForwardGround,
    is_interruptible: true,
    forward_speed: 2.0,
    num_spins: 3,
    specifier: None,
    target: Some(OutOfGroup),
    damage_kind: Slashing,
)
