ComboMelee(
    stage_data: [
        (
            stage: 1,
            base_damage: 12.0,
            damage_increase: 1.0,
            base_poise_damage: 12.0,
            poise_damage_increase: 1.0,
            knockback: 1.0,
            range: 2.5,
            angle: 30.0,
            base_buildup_duration: 0.2,
            base_swing_duration: 0.2,
            hit_timing: 0.5,
            base_recover_duration: 0.2,
            forward_movement: 0.5,
            damage_kind: Energy,
            damage_effect: Some(Lifesteal(0.1)),
        ),
        (
            stage: 2,
            base_damage: 14.0,
            damage_increase: 1.5,
            base_poise_damage: 16.0,
            poise_damage_increase: 0,
            knockback: 2.0,
            range: 3.0,
            angle: 40.0,
            base_buildup_duration: 0.2,
            base_swing_duration: 0.2,
            hit_timing: 0.4,
            base_recover_duration: 0.2,
            forward_movement: 0.0,
            damage_kind: Energy,
            damage_effect: Some(Lifesteal(0.15)),
        ),
        (
            stage: 3,
            base_damage: 18.0,
            damage_increase: 2,
            base_poise_damage: 20.0,
            poise_damage_increase: 0,
            knockback: 4.0,
            range: 3.5,
            angle: 10.0,
            base_buildup_duration: 0.2,
            base_swing_duration: 0.2,
            hit_timing: 0.2,
            base_recover_duration: 0.2,
            forward_movement: 1.2,
            damage_kind: Energy,
            damage_effect: Some(Lifesteal(0.2)),
        ),
    ],
    initial_energy_gain: 0,
    max_energy_gain: 10.0,
    energy_increase: 1.5,
    speed_increase: 0.1,
    max_speed_increase: 0.15,
    scales_from_combo: 2,
    is_interruptible: true,
    ori_modifier: 1.0,
)
