[
    // 祝福项链
    (0.01, Item("common.items.WECW.neck.highneck")),
    // 守护项链
    (0.01, Item("common.items.WECW.neck.highneck2")),
    // 生命之息
    (0.26, ItemQuantity("common.items.boss_drops.生命之息", 1, 3)),
    // 能量药水
    (0.26, ItemQuantity("common.items.boss_drops.能量药水", 1, 3)),
    // 冰冷的碎片
    (0.4, ItemQuantity("common.items.crafting_ing.animal_misc.icy_fang", 45, 90)),
    // 蓝色系列武器
    (0.5, LootTable("common.loot_tables.weapons.tier-5")),
    // 蓝灯
    (0.8, Item("common.items.lantern.blue_0")),
    // 白金币
    (1.0, ItemQuantity("common.items.WECW.白金币", 10, 20)),
]
