[
    (0.01, Item("common.items.WECW.icehammer")),
    (1.0, LootTable("common.loot_tables.weapons.tier-5")),
    (0.25, ItemQuantity("common.items.boss_drops.potions", 5, 30)),
    (0.25, ItemQuantity("common.items.boss_drops.exp_flask", 5, 30)),
    (2.0, ItemQuantity("common.items.WECW.coins2", 1, 25)),
    (0.5, ItemQuantity("common.items.crafting_ing.animal_misc.icy_fang", 45, 90)),
    (0.05, Item("common.items.WECW.neck.highneck")),
    (0.05, Item("common.items.WECW.neck.highneck2")),
    (0.1, Item("common.items.lantern.blue_0")),
    (0.2, Item("common.items.crafting_ing.mindflayer_bag_damaged")),
]
