ItemDef(
    name: "黑色面罩",
    description: "鬼鬼祟祟...\nT1-T2地牢掉落",
    kind: Armor((
        kind: Head("Thief"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
