ItemDef(
    name: "旅行者背包",
    description: "战斗时可能要脱下来.",
    kind: Armor((
        kind: Back("Backpack"),
        stats: (
            protection: Normal(-10.0),
            poise_resilience: Normal(-10.0),
            energy_max: -10,
            energy_reward: -1.0,
            crit_power: -10.0,
            stealth: -10.0,
        ),
    )),
    quality: High,
    tags: [Bag],
    slots: 50,
)
