ItemDef(
    name: "鹰弓",
    description: "这让我联想到绽开翅膀高飞的鹰。",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 1.4,
            effect_power: 0.8,
            speed: 1.2,
            crit_chance: 0.16363636,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: High,
	tags: [SalvageInto(HighSell),],
    ability_spec: None,
)
