ItemDef(
    name: "树枝弓",
    description: "随意制作。",
    kind: Tool((
        kind: Bow,
        hands: Two,
        stats: Direct((
            equip_time_secs: 0.4,
            power: 1.1,
            effect_power: 0.8,
            speed: 1.0,
            crit_chance: 0.083333336,
            range: 1.0,
            energy_efficiency: 1.0,
            buff_strength: 1.0,
        )),
    )),
    quality: Low,
	tags: [],
    ability_spec: None,
)
