ItemDef(
    name: "生命安克",
    description: "一条来历不明的独特项链...... 你可以感受到流淌在它身上的力量。",
    kind: Armor((
        kind: Neck("Ankh"),
        stats: (
            protection: Normal(5.0),
            poise_resilience: Normal(0.0),
            energy_max: 20.0,
            energy_reward: 0.25,
            crit_power: 0.0,
            stealth: 5.0,
        ),
    )),
    quality: Legendary,
    tags: [SalvageInto(LegendarySell),],
)
