ItemDef(
    name: "钻石项链",
    description: "一条昂贵的金项链，用精致的钻石装饰。",
    kind: Armor((
        kind: Neck("Diamond"),
        stats: (
            protection: Normal(5.0),
            poise_resilience: Normal(5.0),
            energy_max: 0,
            energy_reward: -0.10,
            crit_power: 0.1,
            stealth: -5.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
