ItemDef(
    name: "翡翠项链",
    description: "一条钴质项链，上面镶嵌着美丽的翡翠宝石。",
    kind: Armor((
        kind: Neck("Emerald"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(-5),
            energy_max: 10.0,
            energy_reward: 0.15,
            crit_power: -0.2,
            stealth: 5.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
