ItemDef(
    name: "蜂窝状项链",
    description: "这条项链一直在喷出蜂蜜...",
    kind: Armor((
        kind: Neck("Honeycomb"),
        stats: (
            protection: Normal(-5.0),
            poise_resilience: Normal(-5),
            energy_max: 5.0,
            energy_reward: 0.075,
            crit_power: -0.2,
            stealth: 5.0,
        ),
    )),
    quality: High,
    tags: [],
)
