ItemDef(
    name: "守护吊坠",
    description: "你觉得好像有什么东西一直在看着你......",
    kind: Armor((
        kind: Neck("Pendant"),
        stats: (
            protection: Normal(1.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [],
)
