ItemDef(
    name: "黄玉项链",
    description: "一条铜质项链，中间嵌有黄宝石。",
    kind: Armor((
        kind: Neck("Topaz"),
        stats: (
            protection: Normal(3.25),
            poise_resilience: Normal(1.25),
            energy_max: 0.0,
            energy_reward: 0.00,
            crit_power: -0.3,
            stealth: -10.0,
        ),
    )),
    quality: Moderate,
    tags: [],
)
