EntityConfig (
    name: Name("符文守护者——土"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.spots.rune_tower.符文"),

    hands: TwoHanded(Choice([
                (1.0, Some(Item("common.items.WECW.符文塔.武器.符文-冰风暴"))),
                (1.0, Some(Item("common.items.WECW.符文塔.武器.符文-熔火之心"))),
            ])),

    meta: [
        SkillSetAsset("common.skillset.spots.rune_tower.rune_guard_skillset"),
        LoadoutAsset("common.loadout.spots.rune_tower.守卫-土"),
    ],
)
