EntityConfig (
    name: Name("符文守护者——源"),
    body: RandomWith("humanoid"),
    alignment: Alignment(Enemy),

    loot: LootTable("common.loot_tables.spots.rune_tower.符文-源"),

    hands: TwoHanded(Choice([
                (1.0, Some(Item("common.items.WECW.符文塔.武器.符文-奥拉西斯"))),
                (1.0, Some(Item("common.items.WECW.符文塔.武器.符文-旭日击破者-奥能"))),
            ])),

    meta: [
        SkillSetAsset("common.skillset.spots.rune_tower.rune_guard_skillset"),
        LoadoutAsset("common.loadout.spots.rune_tower.守卫-源"),
    ],
)
