ItemDef(
    name: "暗灵项链",
    description: "戴上它，感受暗灵的护佑......",
    kind: Armor((
        kind: Neck("epicneck"),
        stats: (
            protection: Normal(20.0),
            poise_resilience: Normal(10.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: -10.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
