ItemDef(
    name: "暗灵项链",
    description: "戴上它，感受暗灵的护佑......",
    kind: Armor((
        kind: Neck("epicneck"),
        stats: (
            protection: Normal(15.0),
            poise_resilience: Normal(15.0),
            energy_max: 10.0,
            energy_reward: 0.3,
            crit_power: 0.1,
            stealth: 5,
        ),
    )),
    quality: Legendary,
    tags: [SalvageInto(Dragonscale),],
)
