ItemDef(
    name: "理智",
    description: "阻止你陷入无尽的疯狂......",
    kind: Armor((
        kind: Neck("exneck"),
        stats: (
            protection: Normal(20.0),
            poise_resilience: Normal(10.0),
            energy_max: 20.0,
            energy_reward: 0.25,
            crit_power: 0.25,
            stealth: 0.00,
        ),
    )),
    quality: Legendary,
    tags: [SalvageInto(LegendarySell),],
)
