ItemDef(
    name: "祝福项链",
    description: "这条注入了魔力的项链，会祝福着你.",
    kind: Armor((
        kind: Neck("highneck"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 5.0,
            energy_reward: 0.2,
            crit_power: 0.05,
            stealth: 2.5,
        ),
    )),
    quality: Epic,
    tags: [EpicSell],
)
