ItemDef(
    name: "狱边 | 胸甲",
    description: "有些灵魂，注定要燃烧。",
    kind: Armor((
        kind: Chest("狱边"),
        stats: (
            protection: Normal(90.0),
            poise_resilience: Normal(20.0),
            energy_max: -7.0,
            energy_reward: 0.0,
            crit_power: -0.1,
            stealth: -5.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
