ItemDef(
    name: "狱边 | 裙甲",
    description: "",
    kind: Armor((
        kind: Pants("狱边"),
        stats: (
            protection: Normal(13.0),
            poise_resilience: Normal(0.0),
            energy_max: 30.0,
            energy_reward: 0.3,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
