ItemDef(
    name: "狱边 | 肩甲",
    description: "有些灵魂，注定要燃烧。",
    kind: Armor((
        kind: Shoulder("狱边"),
        stats: (
            protection: Normal(50.0),
            poise_resilience: Normal(15.5),
            energy_max: -7.0,
            energy_reward: 0.0,
            crit_power: -0.05,
            stealth: -5.0,
        ),
    )),
    quality: Epic,
    tags: [],
)
