ItemDef(
    name: "王冠",
    description: "King of Veloren！\nT5-T6地牢掉落。",
    kind: Armor((
        kind: Head("Crown"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
