ItemDef(
    name: "感叹的帽子",
    description: "你想要分配任务.",
    kind: Armor((
        kind: Head("Exclamation"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Common,
    tags: [],
)
