ItemDef(
    name: "惊了！",
    description: "以后的任务npc可能会戴有~",
    kind: Armor((
        kind: Head("Exclamation"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
