ItemDef(
    name: "野猪兜帽",
    description: "穿上你杀死的大猪的饰品，这样才算尊重它的牺牲。\nT3-T4地牢掉落",
    kind: Armor((
        kind: Head("HogHood"),
        stats: (
            protection: Normal(0.0),
            poise_resilience: Normal(0.0),
            energy_max: 0.0,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Legendary,
    tags: [],
)
