ItemDef(
    name: "阿布霍斯 · 噬魂",
    description: "吸收亡者灵魂与罪恶的魔具庇护宿主与黑暗之中并提供源源不断的力量.",
    kind: Armor((
        kind: Head("Suspension_crystal"),
        stats: (
            protection: Normal(40.0),
            poise_resilience: Normal(15.0),
            energy_max: 100,
            energy_reward: 0.5,
            crit_power: 0.2,
            stealth: 10.0,
        ),
    )),
    quality: Artifact,
    tags: [Bag],
    slots: 20,
)
