// 普通攻击
BasicMelee(
    energy_cost: 0,
    buildup_duration: 0.3,
    swing_duration: 0.1,
    recover_duration: 0.5,
    base_damage: 100.0,
    base_poise_damage: 150.0,
    knockback: ( strength: 10.0, direction: Away),
    range: 2.0,
    max_angle: 60.0,
    damage_effect: Some(Buff((
        kind: Crippled,
        dur_secs: 1.0,
        strength: Value(0.1),
        chance: 0.4,
    ))),
    damage_kind: Slashing,
)
