DashMelee(
    energy_cost: 0.0,
    base_damage: 15,
    scaled_damage: 25,
    ori_modifier: 1.0,
    base_poise_damage: 6,
    scaled_poise_damage: 0,
    base_knockback: 10.0,
    scaled_knockback: 15.0,
    range: 5.5,
    angle: 180.0,
    energy_drain: 22.0,
    forward_speed: 1.25,
    buildup_duration: 0.35,
    charge_duration: 1.5,
    swing_duration: 0.1,
    recover_duration: 0.45,
    charge_through: true,
    is_interruptible: true,
    damage_kind: Piercing,
    damage_effect: Some(Buff((
       kind: Wet,
       dur_secs: 8.0,
       strength: Value(10.0),
       chance: 1.0,
    ))),
)
