DashMelee(
    energy_cost: 0.0,
    base_damage: 10,
    scaled_damage: 20,
    ori_modifier: 1.0,
    base_poise_damage: 6,
    scaled_poise_damage: 0,
    base_knockback: 10.0,
    scaled_knockback: 15.0,
    range: 5.0,
    angle: 140.0,
    energy_drain: 25.0,
    forward_speed: 1.0,
    buildup_duration: 0.4,
    charge_duration: 1.5,
    swing_duration: 0.1,
    recover_duration: 0.5,
    charge_through: true,
    is_interruptible: true,
    damage_kind: Piercing,
    damage_effect: Some(Buff((
       kind: Wet,
       dur_secs: 5.0,
       strength: Value(10.0),
       chance: 1.0,
    ))),
)
