Shockwave(
    energy_cost: 50.0,
    buildup_duration: 0.3,
    swing_duration: 0.3,
    recover_duration: 0.3,
    damage: 20,
    poise_damage: 30,
    knockback: (strength: 50.0, direction: Away),
    shockwave_angle: 360.0,
    shockwave_vertical_angle: 90.0,
    shockwave_speed: 20.0,
    shockwave_duration: 0.7,
    requires_ground: true,
    move_efficiency: 0.3,
    damage_kind: Crushing,
    specifier: Ground,
)
