ChargedRanged(
    energy_cost: 0,
    energy_drain: 0,
    initial_regen: 10,
    scaled_regen: 65,
    initial_damage: 20,
    scaled_damage: 125,
    initial_knockback: 0.0,
    scaled_knockback: 8.0,
    buildup_duration: 0.3,
    charge_duration: 1.5,
    recover_duration: 0.3,
    projectile_body: Object(Arrow),
    projectile_light: None,
    initial_projectile_speed: 100.0,
    scaled_projectile_speed: 125.0,
    move_speed: 0.2,
)

