ChargedRanged(
    energy_cost: 0.0,
    energy_drain: 0,
    initial_regen: 4,
    scaled_regen: 8,
    initial_damage: 12,
    scaled_damage: 25,
    initial_knockback: 0.0,
    scaled_knockback: 8.0,
    buildup_duration: 0.1,
    charge_duration: 0.7,
    recover_duration: 0.2,
    projectile_body: Object(Arrow),
    projectile_light: None,
    initial_projectile_speed: 100.0,
    scaled_projectile_speed: 125.0,
    move_speed: 0.8,
)
