ItemDef(
    name: "邪恶披风",
    description: "被尘封的邪恶力量...",
    kind: Armor((
        kind: Back("Warlord"),
        stats: (
            protection: Normal(10.0),
            poise_resilience: Normal(0.0),
            energy_max: 25.0,
            energy_reward: 0.2,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [],
)
