ItemDef(
    name: "邪恶胸甲",
    description: "被尘封的邪恶力量...",
    kind: Armor((
        kind: Chest("Warlord"),
        stats: (
            protection: Normal(10.0),
            poise_resilience: Normal(0.0),
            energy_max: 50.0,
            energy_reward: 0.3,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [],
)
