ItemDef(
    name: "邪恶臂铠",
    description: "被尘封的邪恶力量...",
    kind: Armor((
        kind: Hand("Warlord"),
        stats: (
            protection: Normal(13.0),
            poise_resilience: Normal(0.0),
            energy_max: 30.0,
            energy_reward: 0.4,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [],
)
