ItemDef(
    name: "邪恶裙甲",
    description: "被尘封的邪恶力量...",
    kind: Armor((
        kind: Pants("Warlord"),
        stats: (
            protection: Normal(23.0),
            poise_resilience: Normal(0.0),
            energy_max: 40.0,
            energy_reward: 0.6,
            crit_power: 0.0,
            stealth: 0.0,
        ),
    )),
    quality: Artifact,
    tags: [],
)
