ItemDef(
    name: "钢 长靴",
    description: "金属合金靴子提供更舒适和耐用的保护.",
    kind: Armor((
        kind: Foot("Steel"),
        stats: (
            protection: Normal(12.0),
            poise_resilience: Normal(3.0),
            energy_max: -50,
            energy_reward: 0.0,
            crit_power: 0.0,
            stealth: -3.0,
        ),
    )),
    quality: Moderate,
    tags: [
        Material(Steel),
    ],
)