ItemDef(
    name: "钢 肩凯",
    description: "金属合金板提供更好的保护和舒适.",
    kind: Armor((
        kind: Shoulder("Steel"),
        stats: (
            protection: Normal(24.0),
            poise_resilience: Normal(6.0),
            energy_max: -60,
            energy_reward: -0.25,
            crit_power: 0.0,
            stealth: -3.0,
        ),
    )),
    quality: Moderate,
    tags: [
        Material(Steel),
    ],
)